body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  background-color:#E5E5E5 !important;
}

/* title section */

h1 {
  font-family: 'Playfair Display', sans-serif !important;
  font-size: 56px;
  text-align: center;
  padding: 50px 20px ;
}
.logo {
  color: #542a2e;
}
.logo:hover{
  color: #542a2e;
  text-decoration: none;
}
.nav-item {
  font-size: 32px;
  margin:2px;
}
.nav-item:hover{
  border-radius: 5%;
  box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.93);
-webkit-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.93);
-moz-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.93);
}
.nav-link{
    color: #2E3338 !important;
}
.navbar-toggler-icon{
  color: #25292D;
}

/* carousel  */

.carousel-section {
  background-color: #D8D8D8;
  text-align: center;
  margin-top: 50px;
}
.carousel-img {
  max-width: 90vw;
  margin: auto;
  box-shadow: 0 0 10px #000000;
}

@media (min-width: 997px) {
  .carousel-img {
      max-width: 70vw;
  }
}

/* pricing section */


.price-table {
    font-size: 22px;
  margin: auto auto 30px;
  line-height: 2;
}
#price-div {
  padding: 100px 10% 50px;
  text-align: center;
  background-color: #F2F2F2;
  font-size: 20px;
}
.pink-row {
  background-color: #D5E5E5;
}
hr {
  margin: 100px auto 100px;
  border-top: dotted 10px #FCD5CE;
  width: 20%;
}
.pricing-title{
  font-size: 26px;
  font-weight: 600;
}
td {
  padding: 0 15px;
}
.price-info{
  color: #2E3338;
}

/* contact */

#contact {
  margin: 50px auto 50px;
  max-width:80vw;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(64,58,58,0.45) inset;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(64,58,58,0.45) inset;
  -moz-box-shadow: 0px 0px 5px 5px rgba(64,58,58,0.45) inset;
}
.openings {
  margin-bottom: 50px;
  font-size: 20px;
  }
.tel-nr {
  color:#2E3338;
  font-weight: 600;
  font-size: 24px;
}
.tel-nr:hover{
  color:#2E3338;
}

/* footer */

footer {
  font-size:14px;
  background-color: #B5B7BB;
  margin: 70px 0 0 ;
  padding: 30px 0 30px;
}

.fa-envelope-open-text{
  color:#2E3338;
  margin-left: 3px;
}
.fa-envelope-open-text:hover{
  font-size:16px;
}


