body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  background-color:#E5E5E5 !important;
}

/* title section */

h1 {
  font-family: 'Playfair Display', sans-serif !important;
  font-size: 56px;
  text-align: center;
  padding: 50px 20px ;
}
#logo {
  color: #2E3338;
}
#logo:hover{
  color: #212529;
  text-decoration: none;
}
.nav-item {
  margin:2px;
}
.nav-link{
  color: #2E3338 !important;
  font-size: 32px;
}

.nav-item:hover{
  color: #2E3338 !important;
  border-radius: 5%;
  box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.93);
-webkit-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.93);
-moz-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.93);
}

.navbar-toggler-icon{
  color: #25292D;
}

/* carousel  */

.carousel-section {
  background-color: #D8D8D8;
  text-align: center;
  margin-top: 50px;
}
.carousel-img {
  max-width: 90vw;
  margin: auto;
  box-shadow: 0 0 10px #000000;
}

@media (min-width: 997px) {
  .carousel-img {
      max-width: 70vw;
  }
}

/* pricing section */


.price-table {
    font-size: 22px;
  margin: auto auto 30px;
  line-height: 2;
}
#price-div {
  padding: 100px 10% 50px;
  text-align: center;
  background-color: #F2F2F2;
  font-size: 20px;
}
.blue-row {
  background-color: #D5E5E5;
}
#hr-price {
  margin: 50px auto 50px;
  border-top: dotted 10px #D5E5E5;
  width: 20%;
}
.pricing-title{
  font-size: 26px;
  font-weight: 600;
}
td {
  padding: 0 15px;
}
.price-info{
  color: #2E3338;
}

/* contact */

#contact {
  margin: 50px auto 50px;
  max-width:80vw;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(64,58,58,0.45) inset;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(64,58,58,0.45) inset;
  -moz-box-shadow: 0px 0px 5px 5px rgba(64,58,58,0.45) inset;
}
.openings {
  margin:15px auto 50px;
  font-size: 20px;
  }
.tel-nr {
  color:#2E3338;
  font-weight: 600;
  font-size: 24px;
}
.tel-nr:hover{
  color:#2E3338;
}
.mapDiv{
  margin:5px 5px 5px auto;
}
.adressDiv {
  padding-top: 25px;
}

/* scroll up button */

.scrollUp{
  text-align: center;
  padding: 3px;
  width: 42px;
  height: 42px;
  border: #2E3338;
  border-style: groove;
  border-radius: 5px;
  opacity: 70%;
  background-color: #E9ECEF;
  }
.scrollIcon{
font-size: 32px;
color: #2E3338;
}

/* footer */

footer {
  font-size:14px;
  width: 100%;
  background-color: #B5B7BB;
  margin: 70px 0px 0px;
  padding: 30px 0 30px;
 }

.fa-envelope{
  color:#2E3338;
  margin-left: 5px;
}
.footerLink{
  color:#2E3338;
}
.footerLink:hover{
  color:#2E3338;
  font-size:16px;
  text-decoration: none;
}
/* gallery */
.gall-div {
  padding: 25px 10px;
}
.img-gall {
  margin:25px 10px;
  max-width: 42vw;
}
.img-gall:hover{
  transform: scale(1.15) ;
  transition-duration:1s;
}